name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lint_elm:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install Node
      uses: actions/setup-node@v6
      with:
        node-version: '24'

    - name: Install elm-format
      run: npm install -g elm-format

    - name: Lint Elm
      run: elm-format --validate lib/generators/antoinette/templates/

  lint_ruby:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Lint Ruby
        run: bundle exec standardrb

  test_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec
